#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-content: center;
}

.courseCard {
  width: 350px;
  padding: 15px;
  margin: 10px;
  border: 1px solid gainsboro;
  border-radius: 15px;
  background-color:aliceblue;
  float: left;
}

.courseCardImageDiv {
  width: 100%;
}

.courseCardImage{
  width: 100%;
  border-radius: 15px;
}

.courseCardTitle{
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: larger;
}

.courseCardDescription{
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.couseCardPrice{
  float: left;
  font-size: larger;
  font-weight: bold;
}

.courseCardAddCartButton{
  float:right;
  padding: 7px;
  background-color: whitesmoke;
  border: 2px solid gainsboro;
  border-radius: 100px;
}