h1{
    text-align: center;
}
.przegladaj{
    width: 80px;
    height: 20px;
    text-align: center;
  
}
.przegladaj:hover{
    color:purple;
    cursor:pointer;
}
.przegladaj:hover+.menu{
    opacity: 100%;
}

.menu{
    width: 150px;
    height: 300px;
    position: absolute;
    left: 400px;
    border-radius: 10px;
    background-color: rgb(146, 152, 156);
    opacity: 0%;
}
